@import url('https://fonts.googleapis.com/css?family=Nunito');
// Bootstrap
// This table defines the theme colors (variant names)
$primary: #343a40 !default;
$theme-colors: () !default;
$theme-colors: map-merge( ( 'primary': $primary),
$theme-colors);
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';
.pointer {
    cursor: pointer;
}